* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#star-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


body {
  font-family: 'Segoe UI', sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#starting-text {
  font-size: 4rem;
}

#rocket {
  width: 100px;
}

#ending-text {
  font-size: 2.5rem;
}

.bg-purple {
  background: linear-gradient(to bottom, #7e22ce, #000);
}

.bg-blue {
  background: linear-gradient(to top, #1e3a8a, #000);
}

